* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-sans', sans-serif;
    text-transform: uppercase;
    color: white;
}
 
html, body {
    background-color: #AAAAAA;
}

h1 {
    font-size: 6em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
}

.slide-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #171616;
    transform-origin: left;
}

.slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #171616;
    transform-origin: right;
}